*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* determines how to calculate widht and height of each element. Border box calculates the height and widht by including the border and padding addition to the content box  */
} /* tells every element on the page not to have a margin or border unless we explicitly tell it to */




header {

    padding: 20px 35px  ;
    background-color: #39a6b2;

}

header h1 {

    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none; /* could be underline, strikethrough, overline */
    color: #fce138;

}
header nav {
    float:right; /*Float allows to put HTML elements that look better side by side. It makes the element inline and moves it to the right */ 
    margin: 7px 0px;

}

header nav ul li {
    display:inline;
}

header nav ul li a {
    
    margin: 0 30px;
    font-weight: ligther;
    font-size: 22px;

}
body { /* Applying style for the body selector applies to all child objectd */
    color: #39a6b2; 
    font-family: Helvetica, Arial,sans-serif;
    
}
footer {    
    background: #fce138;
    /* width: 100%; */
    padding: 40px 35px;
}
footer h2 {    
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5; /* assigns how much vertical space should be between lines of text content. 1.5 means we want the spacing to be 1.5 times the size of the font */
    text-align: right;
}

footer a {
    color: #024e76;
}